<h2>
  you can are going to reply to <%=@reply_to%>
</h2>

<form class='peep_input' action="/peeps" method="post">
    Enter Peep: <input type="text" name="peep">
    <input type="submit" value="Add peep" name="reply">
</form>